<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indie Corner - Coming Soon</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    <style>
      body {
        text-align: center;
        font-size: 20px;
        padding: 2rem 1rem;
        font-family: "Raleway", sans-serif;
      }

      .subtext,
      .coming-soon {
        font-size: 25px;
        line-height: 1.4;
        max-width: 768px;
        margin: 2rem auto;
      }
      .coming-soon {
        margin-top: 1em;
        font-size: 60px;
        font-weight: 100;
        text-transform: uppercase;
      }
    </style>
    <script>
      (function (s, e, n, d, er) {
        s["Sender"] = er;
        (s[er] =
          s[er] ||
          function () {
            (s[er].q = s[er].q || []).push(arguments);
          }),
          (s[er].l = 1 * new Date());
        var a = e.createElement(n),
          m = e.getElementsByTagName(n)[0];
        a.async = 1;
        a.src = d;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://cdn.sender.net/accounts_resources/universal.js",
        "sender"
      );
      sender("2a33c5ebdc9714");
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // from CK tags
        const domainMap = {
          de: '2412775',
          es: '2412784',
          eu: '2412760',
          en: '2412760',
          fr: '2412761'
        }
        const DEFAULT_LOCALE = "en";
        const __T = {{{ translations }}};

        const hostname = window.location.hostname;
        let locale = hostname.split(".")[1] || DEFAULT_LOCALE;
        locale = domainMap[locale] ? locale : DEFAULT_LOCALE;
        const translations = (__T[locale] || __T[DEFAULT_LOCALE]).indiecorner;

        document.title = translations.title;

        const allT = document.querySelectorAll("[data-t-key]");
        allT.forEach(function (el) {
          const translation = translations[el.dataset.tKey].replace('\n', '<br />');
          if (el.dataset.tReplace) {
            el.dataset.tReplace.split(",").map((replace) => {
              el.setAttribute(replace, translation);
            });
            return;
          }
          el.innerHTML = translation;
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="./img/logo.png" alt="Indie Corner" height="200" />
      </header>
      <section class="subtext" data-t-key="page-subtext">
        Indie Corner aims to promote Indian Culture<br />and bring some amazing
        products like<br />Clothing, Jewelry & Decoration!
      </section>
      <section class="coming-soon" data-t-key="coming-soon">
        Coming Soon
      </section>
      <section class="subscribe">
        <div
          style="text-align: center"
          class="sender-form-field"
          data-sender-form-id="ko76cr1hb83xla885p1"
        ></div>
      </section>
    </div>
  </body>
</html>
